body{
	background-color:#f4f4f4;
	color:#5c4200;
	font-family: Helvetica, sans-serif;
	line-height:1.6em;
	margin:0;

	overflow-x: hidden;
}


h1{
	font-size:32px;
	text-align: center;
	margin:0;
}

p{
	font-family: Arial, sans-serif;
	text-align: justify;
}

em{
	text-align: justify;
}

.container{
	text-align: center;
	position: relative;
}

.header{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main-header{
	background: #333;
	color:#fff;
	text-align: center;
	padding:30px;
	margin-bottom:0px;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

.lineBreak{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul{
	margin:0;
	list-style: none;
}

#navbar li{
	display:inline;
	margin-left: 20px;
	margin-right: 20px;
	width: 150px;
}

/*PROJECT BOX*/

#projectBox{
	border: 10px solid #bd8801;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

	padding: 5px;

	min-width: 800px;
	max-width: 800px;
}

#projectBox::before{
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
	/*padding-top: 591.44px/1127.34px*100%;*/
}

#projectBox::after{
	content: "";
	display: table;
	clear: both;
}

#projectBox h1{
	color:#bd8801;
	text-align: left;
}

#projectBox p{
	text-align: left;
	margin: auto;
}

#projectBox a{
	text-align: left;
	color:#fff;
}

#projectBox img{
	float:left;
	padding-right: 20px;

	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}


